@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.container {
  padding: 0 24px;
}
.row {
  padding: 24px 0;
}

/*
NAV
*/
nav {
  height: 10vh;
}
.nav__list {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 38px;
  font-weight: bold;
  padding-top: 12px;
}
.nav__link {
  margin: 0 12px;
}
.nav__link--anchor {
  color: rgb(0, 0, 0);
}
/*
HELLO
*/
#hello {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hello__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.5;
}
.hello__header {
  font-size: 42px;
  text-align: center;
  margin-bottom: 24px;
}
.hello__para {
  font-size: 24px;
  text-align: center;
  margin-bottom: 24px;
  color: gray;
}

.hello__vote {
  font-size: 20px;
  font-weight: bold;
}
/*
INFO
*/
#info {
  height: 130vh;
  background-color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
}
.info__top {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  max-width: 1600px;
  margin-bottom: 120px;
}
.info__text {
  width: 50%;
  padding-right: 48px;
  line-height: 1.5;
}
.info__header {
  font-size: 42px;
  margin-bottom: 24px;
}
.info__para {
  font-size: 18px;
  margin: 24px 0;
  text-align: start;
}
.info__picture {
  width: 40%;
}
.info__img {
  width: 100%;
}

.info__bottom {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  color: white;
  max-width: 1600px;
  margin-top: 120px;
}
.info__text--bottom {
  width: 50%;
  padding-left: 48px;
  line-height: 1.5;
}

/*
team
*/
#team {
  height: 130vh;
}
.team__header {
  text-align: center;
  font-size: 42px;
}
.team__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 82px;
}
.team {
  width: 20%;
  margin: 24px;
  box-shadow: 0px 0px 68px -6px rgba(0, 0, 0, 1);
  position: relative;
  overflow: hidden;
}
.team::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.822);
  opacity: 0;
  transition: all 400ms ease;
}
.worker__img {
  width: 100%;
  height: 400px;
}
.name {
  position: absolute;
  font-size: 18px;
  top: 10%;
  left: 40%;
  display: none;
  color: white;
}
.title {
  position: absolute;
  top: 40%;
  left: 40%;
  font-size: 18px;
  font-weight: bold;
  display: none;
  color: white;
}

.team:hover {
  transform: scale(1.05);
}
.team:hover::before {
  opacity: 1;
}

.team:hover .name,
.team:hover .title {
  display: block;
}
