@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: white;
}
li {
  list-style: none;
}

/*
NAV
*/
nav {
  height: 10vh;
  padding-top: 40px;
  background-color: #070707cb;
}
.nav__container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10%;
}
.nav__logo{
  font-size: 24px;
  transition: all 400ms ease;
}
.nav__logo:hover{
  color: orange;
}
.nav__links{
  display: flex;
  
}
.nav__link{
  margin: 24px;
  font-size: 18px;
  transition: all 400ms ease;
}
.nav__link:hover{
  color: orange;
}
.nav__link--primary{
  background-color: orange;
  padding: 12px 28px;
  border-radius: 20px;
  color: black;
  font-weight: bold;
}
.nav__link--primary:hover{
  background-color: rgb(230, 51, 51);
  color: #070707;
}

/*

BEER

*/

#beer {
  height: 90vh;
}
.container {
  margin: 0 24px;
  padding: 24px 0;
}
.beer__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.beer__info--border {
  width: 100%;
  border: 1px solid gray;
  padding: 8px 12px;
  border-radius: 6px;
}

.beer__img--wrapper {
  width: 30%;
  text-align: center;
}
.beer__img {
  height: 80vh;
}
.beer__info {
  width: 60%;
  max-height: 90vh;
  font-size: 24px;
  color: gray;
  line-height: 1.5;
}
.beer__name {
  margin-bottom: 12px;
  border-bottom: 1px solid gray;
}
.beer__tagline {
  margin-bottom: 12px;
  border-bottom: 1px solid gray;
}
.beer__abv {
  margin-bottom: 12px;
  border-bottom: 1px solid gray;
}
.beer__description {
  margin-bottom: 12px;
  border-bottom: 1px solid gray;
}
.beer__pairing {
  margin-bottom: 12px;
  border-bottom: 1px solid gray;
}
.beer__ferment {
  margin-bottom: 12px;
  border-bottom: 1px solid gray;
}
.beer__ingredients {
  margin-bottom: 12px;
}

/*
FOOTER
*/

footer {
  height: 40vh;
  background-color: #070707;
}
.footer__row {
  display: flex;
  flex-direction: column;
  padding: 3% 3%;
}
.footer__social--links {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer__social--link {
  font-size: 48px;
  color: white;
  transition: all 400ms ease;
}
.twitter:hover {
  color: #1da1f2;
}
.facebook:hover {
  color: #4267b2;
}
.instagram:hover {
  color: #d6249f;
}

.footer__bottom {
  display: flex;
  justify-content: space-around;
  margin-top: 140px;
  padding-right: 5%;
}

.footer__links--left {
  display: flex;
  justify-content: start;
  align-items: center;
}
.footer__logo {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 24px;
  transition: all 400ms ease;
}
.footer__logo:hover {
  color: orange;
}

.footer__links--right {
  display: flex;
  justify-content: end;
}

.footer__link {
  color: white;
  font-size: 24px;
  margin: 0 12px;
  transition: all 400ms ease;
}
.footer__link:hover {
  color: orange;
}
