@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: white;
}
li {
  list-style: none;
}
.container {
  padding: 0 24px;
  height: 100%;
}
.row {
  padding: 24px 0;
}
.overlay {
  filter: blur(4px);
  pointer-events: none;
}
.fixed {
  position: fixed;
  width: 100%;
  height: 100%;
}

/*
NAV
*/
nav {
  height: 10vh;
  padding-top: 40px;
  background-color: #070707cb;
}
.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10%;
}
.nav__logo {
  font-size: 24px;
  transition: all 400ms ease;
}
.nav__logo:hover {
  color: orange;
}
.nav__links {
  display: flex;
}
.nav__link {
  margin: 24px;
  font-size: 18px;
  transition: all 400ms ease;
}
.nav__link:hover {
  color: orange;
}
.nav__link--primary {
  background-color: orange;
  padding: 12px 28px;
  border-radius: 20px;
  color: black;
  font-weight: bold;
}
.nav__link--primary:hover {
  background-color: rgb(230, 51, 51);
  color: #070707;
}
/*
  beers
  */
#product {
  height: 90vh;
  max-width: 1600px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.product__header {
  text-align: center;
  font-size: 48px;
}
.beers__selection {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  transition: transform 400ms ease;
}

.beer {
  flex-basis: 23%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 24px 0;
  transition: all 400ms ease;
}
.beer:hover .beer__img {
  transform: scale(1.2);
}
.beer:hover .beer__name {
  transform: translateY(20px);
}
.beer:hover .beer__type {
  transform: translateY(20px);
}

.beer__img {
  width: 90px;
  height: 240px;
  margin-bottom: 12px;
  cursor: pointer;
  transition: all 400ms ease;
}
.beer__name {
  margin-bottom: 12px;
  transition: all 400ms ease;
}
.beer__type {
  transition: all 400ms ease;
}
.product__page {
  display: flex;
  align-items: center;
  justify-content: center;
}
.page {
  margin: 0 4px;
  padding: 4px 6px;
}

/*
  PRODUCT INFO
  */

.product__info {
  display: none;
  position: absolute;
  top: 30%;
  left: 25%;
  background-color: #242424;
  width: 50%;
  height: 50vh;
  border-radius: 20px;
  z-index: 1;
}
.product__info--wrapper {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px;
  width: 100%;
  height: 100%;
}
.product__name {
  margin-bottom: 32px;
  padding: 0 20%;
  font-size: 18px;
  border-bottom: 1px solid gray;
}
.product__abv {
  margin-bottom: 32px;
  font-size: 18px;
  border-bottom: 1px solid gray;
  padding: 0 21%;
}
.product__pairing {
  margin-bottom: 32px;
  font-size: 18px;
  border-bottom: 1px solid gray;
}
.product__description {
  text-align: center;
  font-size: 18px;
  border-bottom: 1px solid gray;
}
.product__btn {
  margin-top: 32px;
  padding: 12px 24px;
  border-radius: 12px;
  font-size: 24px;
  font-weight: bold;
  background-color: orange;
  border: none;
  cursor: pointer;
  transition: all 400ms ease;
}
.product__btn:hover {
  background-color: rgb(230, 51, 51);
}
.fa-x {
  font-size: 24px;
  position: absolute;
  right: 5%;
  top: 4%;
  cursor: pointer;
}
.fa-x:hover{
  color:rgb(230, 51, 51) ;
}

/*
  FOOTER
  */
footer {
  height: 40vh;
  background-color: #070707;
}
.footer__row {
  display: flex;
  flex-direction: column;
  padding: 3% 3%;
}
.footer__social--links {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer__social--link {
  font-size: 48px;
  color: white;
  transition: all 400ms ease;
}
.twitter:hover {
  color: #1da1f2;
}
.facebook:hover {
  color: #4267b2;
}
.instagram:hover {
  color: #d6249f;
}

.footer__bottom {
  display: flex;
  justify-content: space-around;
  margin-top: 140px;
  padding-right: 5%;
}

.footer__links--left {
  display: flex;
  justify-content: start;
  align-items: center;
}
.footer__logo {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 24px;
  transition: all 400ms ease;
}
.footer__logo:hover {
  color: orange;
}

.footer__links--right {
  display: flex;
  justify-content: end;
}

.footer__link {
  color: white;
  font-size: 24px;
  margin: 0 12px;
  transition: all 400ms ease;
}
.footer__link:hover {
  color: orange;
}


@media(max-width:768px){
  #product{
    height: 100vh;
  }
  .product__header{
    font-size: 42px;
  }
  .product__info{
    width: 90%;
    left: 5%;
  }
  .footer__link{
    font-size: 18px;
  }
}
@media(max-width:576px){
  .nav__logo{
    font-size: 18px;
  }
  .nav__link{
    margin: 12px;
  }
  #product{
    height: 165vh;
  }
  .beer{
    flex-basis: 50%;
  }
  .footer__social--link{
    font-size: 36px;
  }
  .footer__links--left{
    display: flex;
    flex-direction: column;
  }
  .footer__links--right{
    flex-direction: column;
    align-items: start;
  }
  .footer__link--link{
    margin: 12px 0 12px 0;
  }
}