@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}

/*
NAV
*/
nav {
  height: 10vh;
}
.nav__list {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 38px;
  font-weight: bold;
  padding-top: 12px;
}
.nav__link {
  margin: 0 12px;
}
.nav__link--anchor {
  color: white;
}

/*
HERO
*/
#hero {
  height: 100vh;
  background-image: url(assets/beer\ landing2.jpg);
  background-size: cover;
}
.hero__landing {
  display: flex;
  justify-content: center;
  padding-top: 120px;
  padding-right: 200px;
  color: rgb(0, 0, 0);
}

.hero__header {
  font-size: 84px;
  background: linear-gradient(309deg, rgba(200,125,26,1) 38%, rgba(219,219,45,1) 76%);  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero__btn {
  padding: 24px 38px;
  font-size: 18px;
  font-weight: 700;
  margin-top: 24px;
  background-color: rgb(255, 217, 0);
  cursor: pointer;
}

/*
BEERS
*/

#beers {
  height: 100vh;
  position: relative;
}

.beers__container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 0 24px;
}
.beers__header {
  font-size: 48px;
  margin: 0 auto;
  padding-top: 24px;
}

.beers__selection {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  transition: transform 400ms ease;
}

.beer {
  flex-basis: 23%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 24px 0;
  transition: all 400ms ease;
}
.beer:hover .beer__img {
  transform: scale(1.2);
}
.beer:hover .beer__name {
  transform: translateY(20px);
}
.beer:hover .beer__type {
  transform: translateY(20px);
}

.beer__img {
  width: 90px;
  height: 240px;
  margin-bottom: 12px;
  cursor: pointer;
  transition: all 400ms ease;
}
.beer__name {
  margin-bottom: 12px;
  transition: all 400ms ease;
}
.beer__type {
  transition: all 400ms ease;
}
.beers__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  right: 50%;
  bottom: 10%;
}
.beers__btn {
  border: none;
  padding: 6px 12px;
  font-size: 38px;
  background-color: transparent;
  cursor: pointer;
  transition: all 400ms ease;
}
.beers__btn:hover {
  transform: scale(1.2);
  color: orange;
}
.beers__btn.inactive {
  color: rgba(128, 128, 128, 0.514);
  pointer-events: none;
}
.beers__btn--left {
  margin-right: 24px;
}

/*
RANDOM
*/
#random {
  height: 60vh;
}
.random__container {
  padding: 24px;
  text-align: center;
}
.random__header {
  margin-bottom: 24px;
  font-size: 48px;
}
.random__wrapper {
  display: flex;
}
.random__beer {
  width: 40%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.random__beer--img {
  width: 15%;
  animation: opacity 1200ms ease;
  cursor: pointer;
  transition: all 400ms ease;
}
.random__beer--img:hover {
  transform: scale(1.2);
}
.random__beer--btn {
  padding: 12px 24px;
  background-color: orange;
  font-weight: 700;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  position: absolute;
  left: 65%;
}

.random__placeholder {
  display: flex;
  font-size: 62px;
  text-align: start;
  align-items: center;
}

.random__info {
  width: 50%;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.random__info--border {
  border: 1px solid gray;
  padding: 8px 12px;
  border-radius: 6px;
  animation: opacity 1200ms ease;
}
.random__description {
  font-weight: 500;
  padding: 12px 0;
  text-align: start;
  border-bottom: 1px solid gray;
  animation: opacity 1200ms ease;
}
.random__pairing {
  font-weight: 500;
  padding: 12px 0;
  text-align: start;
  border-bottom: 1px solid gray;
  animation: opacity 1200ms ease;
}
.random__ferment {
  font-weight: 500;
  padding: 12px 0;
  text-align: start;
  animation: opacity 1200ms ease;
}
