@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}

/*
NAV
*/
nav {
  height: 10vh;
}
.nav__list {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 38px;
  font-weight: bold;
  padding-top: 12px;
}
.nav__link {
  margin: 0 12px;
}
.nav__link--anchor {
  color: white;
}

/*
HERO
*/
#hero {
  height: 100vh;
  background-image: url(assets/beer\ landing.jpg);
  background-size: cover;
}
.hero__landing {
  display: flex;
  justify-content: center;
  padding-top: 120px;
  padding-right: 200px;
  color: rgb(0, 0, 0);
}

.hero__header {
  font-size: 84px;
  text-shadow: 2px 2px 4px rgb(255, 217, 0);
}
.hero__btn {
  padding: 24px 38px;
  font-size: 18px;
  font-weight: 700;
  margin-top: 24px;
  background-color: rgb(255, 217, 0);
  cursor: pointer;
}

/*
BEERS
*/

#beers {
  height: 100vh;
}

.beers__container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 0 24px;
}
.beers__header {
  font-size: 48px;
  margin: 0 auto;
  padding-top: 24px;
}

.beers__selection {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.beer {
  flex-basis: 23%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 24px 0;
  transition: all 400ms ease;
}
.beer:hover .beer__img{
    transform: scale(1.2);
}
.beer:hover .beer__name{
    transform: translateY(20px);
}
.beer:hover .beer__type{
    transform: translateY(20px);
}


.beer__img {
  width: 90px;
  height: 240px;
  margin-bottom: 12px;
  transition: all 400ms ease;
}
.beer__name {
  margin-bottom: 12px;
  transition: all 400ms ease;
}
.beer__type{
transition: all 400ms ease;
}
.beers__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.beers__btn {
  border: none;
  padding: 6px 12px;
  font-size: 38px;
  background-color: transparent;
  cursor: pointer;
  transition: all 400ms ease;
}
.beers__btn:hover {
  transform: scale(1.2);
  color: orange;
}
.beers__btn--left {
  margin-right: 24px;
}
